@{
  Layout = "_Layout";
}

<h2>Authentication with Identity</h2>
<p>Register a new user or go back to home</p>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name.</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-danger" value="Log out" />
  }
}
else
{
  <span>@Html.ActionLink("Register", "Register")</span>
  <span>@Html.ActionLink("Log In", "Login")</span>
}

<span>@Html.ActionLink("Home", "Index", "Home")</span>