* {
  font-family: 'Libre Baskerville', serif;
}

body {
  background-image: url("../img/sad3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(164, 207, 239);
}

a {
  color: rgb(2, 13, 94)
}

.out_one
{
  display: flex;
  justify-content: center;
}

.gotta_make_it_look_like_its_a_college {
  background-image: url("../img/prestigious\ university\ grounds.png");
  background-size: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
  width: 25rem;
  height: 25rem;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.outer {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(248, 246, 223);
  padding: 10px;
  border: 3px;
  border-color: grey;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}

.first {
  list-style-type: none;
  padding: 0;
}

.outside_side_bar {
  display: flex;
  justify-content: center;
}

.side_bar {
  background-color: rgba(240, 94, 179, 0.89);
  width: 90%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow:  0 2px 6px rgb(24, 22, 22);
  opacity: 70%;
}

.side_bar header{
  font-size: 25px;
  color: black;
  width: auto;
  height: auto;
  user-select: none;
}

.side_bar span {
  font-weight: bolder;
}

.side_bar span:active {
  color: black;
}
