body {
  background-image: url("../img/snail_university.png");
}

.outer {
  background-color: whitesmoke;
}

.first {
  margin-top: 75px;
  background-color: beige;
  padding: 10px;
  border: 3px;
  border-color: grey;
  border-radius: 5px;
  box-shadow: 0 4.5px 12px rgb(24, 22, 22), 0 4.5px 12px rgb(24, 22, 22);
}

