@{
  Layout="_Layout";
}

@model Registrar.Models.Department

<h2>Delete this obsolete department?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete"/>
}

<div>
  <div class="outside_side_bar">
    <div class="side_bar">
      <header>Epic Navi:</header>
      <br>
      <span>@Html.ActionLink("Back to List", "Index")</span>
      <br>
      <span>@Html.ActionLink("Home", "Index", "Home")</span>
    </div>
  </div>
</div>