@{
  Layout="_Layout";
}

<h1>School Registrar</h1>
<div>
  <div class="none">
    <div class="out_one">
      <span class="gotta_make_it_look_like_its_a_college">
      </span>
    </div>
  </div>
</div>
<br>
<div>
  <div>
    <div class="outside_side_bar">
      <div class="side_bar">
        <header>Welcome Navi:</header>
        <br>
        <span>@Html.ActionLink("List of Students", "Index", "Students")</span>
        <br>
        <span>@Html.ActionLink("List of Courses", "Index", "Courses")</span>
        <br>
        <span>@Html.ActionLink("List of Departments", "Index", "Departments")</span>
      </div>
    </div>
  </div>
</div>
<br>
