@{
  Layout="_Layout";
}

<h1>Student Registrar</h1>

<p>@Html.ActionLink("List of Students", "Index", "Students")</p>
<p>@Html.ActionLink("List of Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("List of Departments", "Index", "Departments")</p>